  <div class="best_deals">
        <div class="best_deals_block_background">
		    	<div class="best_deals_header"><p>Лучшие предложения в Киеве</p></div>

		    	<div class="grid_wrapper">
		    		<div class="col_md_3 first_choice" >
		    			<div class="card_text">
		    				<div class="price">
		    					<p>7 800 грн</p>
		    					<div class="check_ico"><img src="../img/shapea.png" alt="check"></div>
		    				</div>
		    				<div class="features">
		    					<p>2 комн.  •  30 кв.м.</p>
		    				</div>
		    				<div class="place">
		    					<div class="metro_circle"></div>
		    					<p class="place_description">Политехнический институт</p>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col_md_3">
		    		
		    			<div class="card_text">
		    				<div class="price">
		    					<p>10 200 грн</p>
		    					<div class="check_ico"><img src="../img/shapea.png" alt="check"></div>
		    				</div>
		    				<div class="features">
		    					<p>1 комн.  •  30 кв.м.</p>
		    				</div>
		    				<div class="place">
		    					<div class="metro_circle"></div>
		    					<p class="place_description">Политехнический институт</p>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col_md_3">
		    			<img src="" alt="">
		    			<div class="card_text">
		    				<div class="price">
		    					<p>6 900 грн</p>
		    					<div class="check_ico"><img src="../img/shapea.png" alt="check"></div>
		    				</div>
		    				<div class="features">
		    					<p>2 комн.  •  30 кв.м.</p>
		    				</div>
		    				<div class="place">
		    					<div class="metro_circle"></div>
		    					<p class="place_description">Политехнический институт</p>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col_md_3">
		    			<img src="" alt="">
		    			<div class="card_text">
		    				<div class="price">
		    					<p>9 000 грн</p>
		    					<div class="check_ico"><img src="../img/shapea.png" alt="check"></div>
		    				</div>
		    				<div class="features">
		    					<p>2 комн.  •  30 кв.м.</p>
		    				</div>
		    				<div class="place">
		    					<div class="metro_circle"></div>
		    					<p class="place_description">Политехнический институт</p>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		    	<div class="best_offers_bottom"><a href="#" class="see_all">Смотреть лучшие ценовые предложения</a></div>
        </div>
    </div>