<section class="footer">
	<footer>
		<div class="col_md_3">
			<h5>Metrovka</h5>
			<a href="#">О компании</a>
			<a href="#">Пресса о нас</a>
			<a href="#">Пользовательское соглашение</a>
			<a href="#">Карта сайта</a>
			<a href="#">Помощь</a>
		</div>
		<div class="col_md_3">
			<h5>Партнерство</h5>
			<a href="#">Как разместить обьявление</a>
			<a href="#">Инструменты продвижения</a>
			<a href="#">Правила заполнения объявлений</a>
		</div>
		<div class="col_md_3">
			<h5>Узнайте больше</h5>
			<a href="#">Бонусная программа Bonus+</a>
			<a href="#">Telegram Metrovka Bot</a>
			<a href="#">Как работает поиск</a>
			<a href="#">Как пользоваться избранным</a>
		</div>
		<div class="col_md_3">
			<h5>Контакты</h5>
			<div class="soc_media_container">
				<ul>
					<li><a href="#" class="facebook_ico"></a></li>
					<li><a href="#" class="vk_ico"></a></li>
					<li><a href="#" class="insta_ico"></a></li>
				</ul>
			</div>
			<div class="info_footer">
				<p class="street">ул. Жилянская, 37</p>
				<p class="small_address">Киев, 01033</p>
				<p class="email">info@metrovka.ua</p>
			</div>
			<a href="#" class="primary_btn">Оставить заявку</a>
		</div>
		<a href="#" class="logo"></a>
	</footer>
</section>