<section id="header">
	<header>
		<a href="#" class="logo"></a>
		<nav>
			<ul>
				<li><a href="#">Аренда</a></li>
				<li><a href="#">Продажа</a></li>
				<li><a href="#">Посуточно</a></li>
				<li><a href="#">...Еще</a></li>
			</ul>
		</nav>
		<div class="header_right">
			<div class="post_ad">Разместить объявление</div>
			<a href="#" class="log_in">Войти</a>
		</div>
	</header>
	<div class="header_center">
		<h1>Поиск недвижимости в Украине</h1>
		<div class="header_center_left">
			<div class="header_lbl">Выберите город</div>
			<select name="" id="" class="dropdown">
				<option value="">Киев</option>
				<option value=""></option>
				<option value=""></option>
				<option value=""></option>
			</select>
		</div>
		<div class="header_center_right">
			<div class="rooms_counter">
				<div class="header_lbl">Кол-во комнат</div>
				<div class="rooms_circles">
					<ul>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5+</a></li>
					</ul>
				</div>
			</div>
			//= buttons/primary_btn.html
			<a herf="#" class="secondary">Secondary</a>
		</div>
	</div>
</section>