		<section class="header">
		    <div class="container2">
			    <div class="first_navigation">
			        <div>
			            <a href="#"><img src="../img/logo.png" class="logo_metrovka"></a>
		            </div> 
					<nav>
						<div class="navigation_top">
							<a href="#" class="cursor_on">Аренда</a>
							<a href="#" class="cursor_on">Продажа</a>
							<a href="#" class="cursor_on">Посуточно</a>
							<div class="little_ovals" >
	                           <div class="little_oval"></div>
	                           <div class="little_oval"></div>
	                           <div class="little_oval"></div>
	                        </div>
							<a href="#" class="cursor_on">Еще</a>
						</div>
					</nav>
					<div class="navi_on_the_left">
						   <a href="#" class="post_adv">
						      <div class="post_adv_item button">
						      	 <img src="../img/small_icon_plus.png" class="post_adv_img">
						      	 <p>Разместить объявление</p>
						      </div>
						   <a href="#" class="log_in">Войти</a>
					</div>
				</div>
            
	            <div class="header_center">
	            	<h1 class="big_header">Поиск недвижимости в Украине</h1>
		            	<div class="header_center_content">
			            	<div class="header_bottom">
				            		<div class="header_bottom_left">
										<div class="header_lbl">Выберите город</div>
										<label class="first_select">
										   <select name=""  class="dropdown first_form">
											   <option value="1" class="city_selected">Киев</option>
											   <option value="2" class="city_selected">Одесса</option>
											   <option value="3" class="city_selected">Харьков</option>
											   <option value="4" class="city_selected">Львов</option>
										   </select>
									     </label>
							        </div>
			            	    </div>
			                <div class="header_bottom_center">
			                	<div class="rooms_counter">
										<div class="header_lbl">Кол-во комнат</div>
				                        <div class="radio-block">
									        <label class="radio_label">
										       <input type="radio" name="room1">
										       <span class="radio_span radio_border">1</span>
									        </label>
									        <label class="radio_label">
										        <input type="radio" name="room2">
										        <span class="radio_span radio_border">2</span>
									        </label>
									        <label class="radio_label">
										        <input type="radio" name="room3">
										        <span class="radio_span radio_border">3</span>
									        </label>
									        <label class="radio_label">
										        <input type="radio" name="room4">
										        <span class="radio_span radio_border">4</span>
									        </label>
									        <label class="radio_label">
										        <input type="radio" name="room5">
										        <span class="radio_span radio_border">5+</span>
									        </label> 
				                     </div>
								</div>
			                </div>
			                <div class="header_bottom_left">
			                	<a herf="#" class="secondary_btn button">Перейти к поиску</a>
			                </div>
		            	</div>
	            	</div>
				</div>
		</section>