         <div class="metro-block">

            <div class="metro-content">
            <div class="bottom-header-block-left">
                <div class="bottom_block_content">
                 <h1 class="metro-header">Недвижимость возле метро</h1>
                 <ul class="variant-list">
             	    <li><a href="#" class="metro_navigation">Квартиры</a></li>
             	    <li><a href="#" class="metro_navigation">Дома</a></li>
             	    <li><a href="#" class="metro_navigation">Офисы</a></li>
                 </ul>
                 </div>
            </div>

		     	<div class="search-form">
		    		<select name="second-form" class="search-second-form">
		    			<option value="">Политехнический институт<span class="dot">· </span></option>
		    			<option value="">Васильковская<span class="dot">· </span></option>
		    			<option value="">Контрактовая площадь<span class="dot">· </span></option>
		    		</select>
		    	</div>
		    	<div>
		    	    <a href="#" class="primary-btn button">Показать результаты поиска</a>
		    	</div>
            </div> 
            </div>