  	 <div class="last_ads_wrapper">
  	    <div class="last_ads_background">
		    	<div class="last_ads_content">
		    		<div class="last_ads_header"><p>Последние обьявления в Киеве</p></div>
		    		<div class="last_ads_navigation">
		    				<a href="#" class="last_ads_list">Квартиры</a>
		    				<a href="#" class="last_ads_list">Дома</a>
		    				<a href="#" class="last_ads_list">Офисы</a>
		    		</div>
		    	</div>
		    	<div class="last_ads_select_wrapper">
		    		<div class="col_md_3">
		    			<img src="../img/item.png" alt="">
		    			<div class="card_text">
		    				<div class="price">
		    					<p>11 800 грн</p>
		    					<div><img src="../img/shapea.png" alt="check" class="check_icon"></div>
		    					<div class="check_ico"></div>
		    				</div>
		    				<div class="features">
		    					<p>2 комн.  •  48 кв.м.</p>
		    				</div>
		    				<div class="place">
		    					<div class="metro_circle red"></div>
		    					<p class="last_ads_underground">Политехнический институт</p>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col_md_3">
		    			<img src="../img/item2.png" alt="">
		    			<div class="card_text">
		    				<div class="price">
		    					<p>15 000 грн</p>
		    					
		    					<div><img src="../img/shapea.png" alt="check" class="check_icon"></div>
		    					<div class="check_ico"></div>
		    				</div>
		    				<div class="features">
		    					<p>3 комн. • 100 кв. м. </p>
		    				</div>
		    				<div class="place">
		    					<div class="metro_circle red"></div>
		    					<p class="last_ads_underground">Шулявская</p>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col_md_3">
		    			<img src="../img/item3.png" alt="">
		    			<div class="card_text">
		    				<div class="price">
		    					<p>11 800 грн</p>
		    					<div><img src="../img/shapea.png" alt="check" class="check_icon"></div>
		    					<div><img src="../img/shapea.png" alt="check" class="check_icon"></div>
		    					<div class="check_ico"></div>
		    				</div>
		    				<div class="features">
		    					<p>1 комн. • 30 кв. м. </p>
		    				</div>
		    				<div class="place">
		    					<div class="metro_circle blue"></div>
		    					<p class="last_ads_underground">Контрактовая площадь</p>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col_md_3">
		    			<img src="../img/wall.png" alt="">
		    			<div class="card_text">
		    				<div class="price">
		    					<p>7 000 грн</p>
		    					<div><img src="../img/shapea.png" alt="check" class="check_icon"></div>
		    					<div class="check_ico"></div>
		    				</div>
		    				<div class="features">
		    					<p>2 комн. • 40 кв. м.</p>
		    				</div>
		    				<div class="place">
		    					<p>просп. Победы, 18А</p>

		    				</div>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		    <div class="best_offers_bottom"><a href="#" class="see_all">Смотреть самые свежие объявления</a></div>
		    	</div>