    <div class="fifth_wrapper">
	 <div class="blog_metrovka_block">
		    	<div class="metrovka_header">
		    		<h3>Блог Metrovka</h3>
		    		<p>Хитрости, приемы, советы, фото и видео – все о том как продать, купить, сдать в аренду или арендовать недвижимость.</p>
		    	</div>
		    	<div class="grid_wrapper">
		    		<div class="col_md_4">
		    			<img src="" alt="">
		    			<div class="info">
		    				<p class="journal_name">ЛАЙФХАК</p>
		    				<p>Киевляне могут оплатить коммуналку через Facebook…</p>
		    				<p class="user">Татьяна Малыняк  •  5 мин чтения</p>
		    			</div>
		    		</div>
		    		<div class="col_md_4">
		    			<img src="" alt="">
		    			<div class="info">
		    				<p class="journal_name">Совет Metrovka</p>
		    				<p>ТОП-5 самых дешевых квартир Киева</p>
		    				<p class="user">Татьяна Малыняк  •  4 мин чтения</p>
		    			</div>
		    		</div>
		    		<div class="col_md_4">
		    			<img src="" alt="">
		    			<div class="info">
		    				<p class="journal_name">Технологии</p>
		    				<p>Смарт квартиры: цены, предложения и законность</p>
		    				<p class="user">Татьяна Малыняк  •  2 мин чтения</p>
		    			</div>
		    		</div>
		    		<a href="#" class="see_all">Перейти на страницу блога</a>
		    	</div>
		    </div>
	</div>