	<div class="section_fourth">
		<div class="telegram_block">
		    	<div class="telegram_header">
		    		<h3 class="fourth_header">Общайтесь в Telegram</h3>
		    		<div class="fourth_content"><p>Не отвлекайтесь больше на формальности. Получайте моментальные <br>уведомления о новых обьявлениях, общайтесь без ограничений.</p></div>
		    		<div class="fourth_navigation">
		    				<a href="#" class="fourth_list">Поиск недвижимости</a>
		    				<a href="#" class="fourth_list">Общение с клиентами</a>
		    		</div>
		    	</div>
		    	<div class="fourth_content-main">
		    	<div class="telegram_desc">
		    		<div class="promo">
		    			<div class="telegram_logo"><img src="../img/telegram.png" alt="logo"></div>
		    			<h3 class="telegram_header">Telegram</h3>
		    		</div>
			    	<div class="desc_block">
			    		<div class="desc_header"><p>Metrovka Bot</p></div>
			    		<div class="desc">
			    			<ol>
			    				<li class="desc_content">Собирайте аналитику по объектам</li>
			    				<li class="desc_content">Получайте подсказки по эффективному <br> продвижению объявлений</li>
			    				<li class="desc_content">Общайтесь с клиентами через специальный <br> канал телекоммуникации</li>
			    			</ol>
			    		</div>
			    	</div>
			    	<a href="#" class="primary_butn">Присоединиться в Telegram</a>
		    	</div></div>
		    	<div class="slider_switch">
		    			<div class="circle_green"></div>
		    			<div class="circle_hollow"><img src="../img/ovall.png"></div>
		    	</div>
		    </div> 
	</div>