body {
  /*min-width: 1280px; */
  background: #edeeed;
  display: block;
  font-family: 'open_sans', sans-serif;
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
    max-width: 890px; 
    margin-right: auto;
    margin-left: auto;
    width: 100%; 
    text-align: center; 
  }
