body {
 /* max-width: 1280px; */
  background: #edeeed;
  display: block;
  font-family: 'open_sans', sans-serif;
/*  width: 100%; */
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
    max-width: 890px; 
    margin-right: auto;
    margin-left: auto;
    width: 100%; 
    text-align: center; 
  }
.section_fourth {
  height: 928px;
  background-image: url('../img/iphone.png');
  background-repeat: no-repeat;
  background-position: 13% 52%;
}

.fourth_header {
  font-weight: 300;
  height: 32px;
  font-size: 24px;
  margin-top: 45px;
}

.fourth_content {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 20px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
}

.fourth_navigation {
  margin-top: 20px;
  display: block;
  font-size: 14px;
  font-weight: 300;
}

.fourth_list {
  color: black;
  margin-left: 40px;
  padding-bottom: 6px;
  border-bottom: 2px solid transparent;
}

.fourth_list:hover {
  border-bottom: 2px solid #30ae63;
    -webkit-animation: fadein 2s; 
       -moz-animation: fadein 2s; 
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fourth_content-main {
  background: white;
  width: 435px;
  height: 407px;
  max-width: 50%;
  margin: 110px 0px 0px auto;
  padding-top: 50px;
}

.promo {
  display: flex;
  margin: 0px 0px 0px 40px;
}

.telegram_header {
  font-weight: 300;
  font-size: 24px;
  padding: 0px 0px 0px 20px;
}

.telegram_logo {
  cursor: pointer;
}

.telegram_logo:hover {
  animation:flipAround 1s infinite;
}

@keyframes flipAround {
  1% { transform:rotateY(-180deg); }
}

.desc_block {
  text-align: left;
  margin-left: 40px;
}

.desc_header {
  font-size: 24px;
  font-weight: 300;
}

.desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-left: -25px; 
}

.desc_content {
  padding-top: 10px;
}

.primary_butn {
  margin: 17px 30px 0px 0px;
  display: inline-block;
    text-align: center;
    transition: background 500ms;
    opacity: 0.9;
    font-size: 14px;
    background: #30ae62;
    color: white;
    height: 40px;
     width: 320px;
    border-radius: 2px;
    padding-top: 10px;
}

.primary_butn:hover {
  background: #50da88;
}

.primary_buth:disabled {
  background: #30ae62;
}

.primary_butn:active {
  background: #30ae99;
}

.circle_green {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background: rgba(48,174,99,1);
  margin: 110px 0px 0px 420px;
}

.circle_hollow {
  margin: -16px 0px 10px 16px;
}